body {
    background-color: blanchedalmond;
    font-family: Verdana, Tahoma, sans-serif;
}

.recipe-image {
    filter: drop-shadow(10px 10px 10px gray);
    object-fit: contain;
    width: 500px;
    max-width: 100%;
    height: auto;
}

#index {
    text-align: center;
}

#index .recipe-image {
    width: 400px;
}

h1 {

    font-weight: bold;
}

h2 {
    font-weight: 400;
}